$font-primary: 'Hind', sans-serif;

$font-xs: 0.9375rem; // 15px
$font-s: 1rem; // 16px
$font-m: 1.125rem; // 18px
$font-l: 1.625rem; //26px

$font-light: 300;
$font-medium: 500;
$font-dark: 700;

$color-grey: #3d3d50;
$color-dark-grey: #2b2b3d;
$color-white: #ffffff;