.contentitem {
  margin-bottom: 40px;

  h3 {
    margin: 0 0 10px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
  }

  h4 {
    margin: 0;
    line-height: 1;
  }

  small {
    color: #888888;
    font-size: 85%;
  }
  p {
    margin-bottom: 20px;
    margin: 0 0 10px;
  }
}
